#hero-welcome .a{fill:none;}
#hero-welcome .b{fill:#84d0ab;}
#hero-welcome .c{fill:#fcaa2a;}
#hero-welcome .d{fill:#ff9052;}
#hero-welcome .e{fill:#de9e55;}
#hero-welcome .f{fill:#fff;}
#hero-welcome .g{fill:#fcafb7;}
#hero-welcome .h{fill:#fee253;}
#hero-welcome .i{fill:#e9686d;}

#hero-success .a{fill:#7f7f86;}
#hero-success .b{fill:#003a81;}
#hero-success .c{fill:#ffdb43;}
#hero-success .d{fill:#ffb093;}
#hero-success .e{fill:#f78663;}
#hero-success .f{fill:#ffa42c;}
#hero-success .g{fill:#62f6ff;}

#hero-teamwork .a{fill:#64ccaa;}
#hero-teamwork .b{fill:#91736a;}
#hero-teamwork .c{fill:none;}
#hero-teamwork .d{fill:#ffa083;}
#hero-teamwork .e{fill:#b883dd;}
#hero-teamwork .f{fill:#ffcc81;}
#hero-teamwork .g{fill:#ff9580;}
#hero-teamwork .h{fill:#ffbfb0;}
#hero-teamwork .i{fill:#ffdb43;}

#hero-message .a{fill:#b5e6d2;}
#hero-message .b{fill:#f97580;}
#hero-message .c{fill:#fcafb7;}
#hero-message .d{fill:#b7e9d4;}

#hero-onlineshopping .a{fill:#adf45b;}
#hero-onlineshopping .b{fill:#c084fc;}
#hero-onlineshopping .c{fill:#f26a71;}
#hero-onlineshopping .d{fill:#fcab2b;}
#hero-onlineshopping .e{fill:#dde8e3;}
#hero-onlineshopping .f{fill:#db9850;}
#hero-onlineshopping .g{fill:#f27e8f;}
#hero-onlineshopping .h{fill:none;}
#hero-onlineshopping .i{fill:#ffa89c;}
#hero-onlineshopping .j{fill:#fcafb7;}
#hero-onlineshopping .k{fill:#87edbf;}
#hero-onlineshopping .l{fill:#ffdb45;}
#hero-onlineshopping .m{fill:#b7e2d0;}