<main role="main" class="">
  <p class="alert alert-info fixed bottom-0 right-7 cursor-pointer" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger fixed bottom-0 right-7 cursor-pointer" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
