<main class="flex flex-col focus:outline-none bg-gray-300 w-full">
  <!-- Navigation -->
  <nav class="
    flex flex-row justify-between w-full p-2
    bg-gray-100 shadow-lg z-50
  ">
    <!-- Back Button -->
    <.custom_link
      patch={@return_to}
      class={"
        text-sky-600 group flex items-center
        text-2xl font-medium
        rounded-md
        hover:text-sky-300
      "}
      aria-current="false"
    >
      <.icon
        name={:chevron_left} outlined
        class="
          flex-shrink-0
          h-6 w-6
          group-active:scale-90
        "
      />
      <div class="text-xl group-active:scale-90">
        <%= @nav_title %>
      </div>
    </.custom_link>
    <!-- Cart -->
    <%= if @cart_visible do %>
      <%= if @cart_enabled && ExCommerce.Checkout.valid_checkout?(@cart) do %>
        <.custom_link
          patch={@cart_path}
          class={"
            text-sky-600 group flex items-center
            text-2xl font-medium
            rounded-md
            hover:text-sky-300
          "}
          aria-current="false"
        >
          <.icon
            name={:shopping_cart} outlined
            class="
              flex-shrink-0
              h-6 w-6
              group-active:scale-90
            "
          />
        </.custom_link>
      <% else %>
        <div
          class={"
            text-gray-400 group flex items-center
            text-2xl font-medium
            rounded-md
          "}
          aria-current="false"
        >
          <.icon
            name={:shopping_cart} outlined
            class="
              flex-shrink-0
              h-6 w-6
              cursor-not-allowed
            "
          />
        </div>
      <% end %>
    <% end %>
  </nav>

  <!-- Main -->
  <div class={"
  bg-gray-300 
    basis-full h-full
    overflow-y-scroll no-scrollbar
    #{@container_class}
  "}>
    <%= @inner_content %>
  </div>
</main>
