<div class={"
  row-auto col-auto
  justify-self-center self-center
  #{@container_classes}
  w-full sm:w-9/12 md:w-8/12 lg:w-7/12 xl:w-6/12
  h-60   sm:h-64   md:h-72   lg:h-80   xl:h-96
"}>
  <img
    src={@source}
    class={"
    rounded-lg shadow-button-sm
    w-full h-60 sm:h-64 md:h-72 lg:h-80 xl:h-96
  "}
  />
</div>
