<div class={"
  row-auto col-auto
  justify-self-center self-center
  w-40 h-40
  #{@container_classes}
  #{@size_classes}
"}>
  <img
    src={@source}
    class={"rounded-lg shadow-button-sm w-40 h-40 #{@size_classes}"}
  />
</div>
