<div class={"
  row-auto col-auto
  justify-self-center self-center
  #{@container_classes}
  #{@size_classes}
"}>
  <img
    src={@source}
    class={"rounded-lg shadow-button-sm #{@size_classes}"}
  />
</div>
