<%= if @live_action in [:cart] do %>
  <%= live_modal @socket, ExCommerceWeb.CheckoutLive.Components.CartComponent,
    id: Ecto.UUID.generate(),
    title: @page_title,
    action: @live_action,
    return_to: @return_to,
    patch_to: @return_to,
    redirect_to: @redirect_to,
    current_route: @return_to,
    opts: %{
      cart: @cart,
      content_classes: "mt-12"
    }
  %>
<% end %>

<.live_component module={Components.RollingOrder} id="rolling-order-details">
  <:main_slot>
    <div class={"
      bg-gray-100
      border-t-4 border-gray-200
      rounded-t-5xl shadow-button
      h-full mb-40
    "}>
      <div class="flex justify-center py-2">
        <div class="rounded-sm self-center shadow-inner bg-gray-300 h-1 w-16" />
      </div>

      <div class="pt-6 px-8">
        <div class="grid grid-cols-6">
          <div class="col-span-6">
            <div class="mb-4">
              <h1 class="mt-1 text-xl sm:text-2xl text-sky-500 font-medium text-center">
                <%= gettext("Complete your order details") %>
              </h1>
            </div>
          </div>
        </div>
      </div>

      <div class="basis-full px-6">
        <%= form_for @changeset, "#", [
          id: "order-form",
          phx_change: "validate",
          class: "mb-0"
        ], fn f -> %>

          <%= label f, :buyer_name, gettext("Payment Method"), class: "p-2 text-sky-600 text-lg sm:text-xl font-normal" %>

          <div class="flex flex-col">
            <%= for {payment_method, payment_method_id} <- get_payment_methods() do %>
              <div class="flex flex-row">
                <div class="basis-1/2 mx-4">
                  <label class="text-base sm:text-lg"><%= payment_method %></label>
                </div>

                <.selection_input
                  checked={payment_checked?(@changeset, payment_method_id)}
                  id={"payment-method-#{payment_method_id}-radio"}
                  name={"payment-method-#{payment_method_id}-radio"}
                  phx-change="ignore"
                  phx-value-type={payment_method_id}
                  phx-click="select_payment_method"
                  type="radio"
                />
              </div>
            <% end %>
          </div>

          <%= label f, :buyer_name, gettext("Name"), class: "p-2 text-sky-600 text-lg sm:text-xl font-normal" %>
          <%= text_input f, :buyer_name,
            style: "background-color: white;",
            class: "input shadow-button",
            placeholder: gettext("Enter your name") %>
          <%= error_tag f, :buyer_name %>

          <%= label f, :address, gettext("Address"), class: "p-2 text-sky-600 text-lg sm:text-xl font-normal" %>
          <%= text_input f, :address,
            style: "background-color: white;",
            class: "input shadow-button",
            placeholder: gettext("Enter your address") %>
          <%= error_tag f, :address %>

          <%= label f, :note, class: "p-2 text-sky-600 text-lg sm:text-xl font-normal" %>
          <%= textarea f, :note,
            style: "background-color: white;",
            class: "input shadow-button",
            rows: 5,
            placeholder: gettext("Enter notes for the market") %>
          <%= error_tag f, :note %>

        <% end %>
      </div>
    </div>
  </:main_slot>
  <:button_slot>
    <LiveMotion.motion
      id="checkout-button"
      initial={[y: [400]]}
      animate={[y: [0]]}
      transition={[]}
      exit={[y: [400]]}
      class="
        fixed bottom-4 flex justify-center px-4
        max-w-7xl w-full z-50
      "
    >
      <.live_component
        module={Components.FloatingButton}
        id="checkout-button"
        enabled={valid_checkout?(@changeset, @cart)}
        on_click_event="submit_details"
      >
        <:enabled_content>
          <div class="flex flex-row">
            <div class="px-2">
              <p class="checkout-button-text font-medium text-white">
                (<%= get_order_items(@cart) %>)
              </p>
            </div>
            <div class="px-2">
              <p class="checkout-button-text font-medium text-white">
                <%= get_order_price(@cart) %>
              </p>
            </div>
            <div class="px-2">
              <p class="checkout-button-text font-medium text-white">
                <%= get_button_text(@changeset, @cart) %>
              </p>
            </div>
            <div class="lg:pt-1">
              <.icon name={:shopping_bag} outlined class="
                text-white flex-shrink-0
                checkout-button-icon
              "/>
            </div>
          </div>
        </:enabled_content>

        <:disabled_content>
          <div class="flex flex-row">
            <div class="px-2">
              <p class="checkout-button-text font-medium text-white text-center">
                <%= get_button_text(@changeset, @cart) %>
              </p>
            </div>
            <div class="lg:pt-1 self-center">
              <.icon name={:shopping_bag} outlined class="
                text-white flex-shrink-0
                checkout-button-icon
              "/>
            </div>
          </div>
        </:disabled_content>
      </.live_component>
    </LiveMotion.motion>
  </:button_slot>
</.live_component>
