<div class="flex flex-col h-full justify-between">
  <div class="basis-2/4 flex flex-col w-full justify-start items-center">
    <!-- Banner -->
    <LiveMotion.motion
      id="shop-banner"
      initial={[y: [-1000]]}
      animate={[y: [0]]}
      transition={[duration: 0.3]}
      exit={[y: [-1000]]}
      class="flex justify-center"
    >
      <div class={"
        w-full sm:w-11/12 md:w-9/12 lg:w-8/12 xl:w-9/12
        h-60   sm:h-64   md:h-72   lg:h-80   xl:h-80
      "}>
        <img
          src={@banner_source}
          class={"
          rounded-b-lg shadow-button-sm
        "}
        />
      </div>
    </LiveMotion.motion>
    <!-- Logo -->
    <LiveMotion.motion
      id="shop-logo"
      initial={[y: [-1000]]}
      animate={[y: [0]]}
      transition={[duration: 0.6]}
      exit={[y: [-1000]]}
      class="
        flex justify-center
        absolute
        top-44 sm:top-56 lg:top-60 xl:top-72
      "
    >
      <div class="w-32 h-32 bg-transparent">
        <div class="">
          <img
            src={@avatar_source}
            class={"rounded-lg shadow-button-sm"}
          />
        </div>
      </div>
    </LiveMotion.motion>
  </div>
  <div class="">
    <LiveMotion.motion
      id="shop-content"
      initial={[y: [1000]]}
      animate={[y: [0]]}
      transition={[duration: 0.3]}
      exit={[y: [1000]]}
    >
      <div class={"z-50 bg-transparent"}>
        <div class={"
          bg-white
          border-t-4 border-gray-200
          rounded-t-5xl shadow-button
        "}>
          <div class="flex justify-center py-2">
            <div class="rounded-sm self-center shadow-inner bg-gray-300 h-1 w-16" />
          </div>

          <div class="pt-6 px-8">
            <div class="grid grid-cols-6">
              <div class="col-span-5">
                <div class="mb-4">
                  <p class="mt-1 text-2xl text-sky-600 font-bold">
                    <%= @shop.name %>
                  </p>
                  <p class="mt-1 text-xl text-black italic">
                    <%= @shop.description %>
                  </p>
                  <div class="flex flex-row">
                    <div class="pt-1">
                      <.icon name={:map_pin} outlined class="
                        text-sky-600
                        flex-shrink-0 h-4 w-4
                      "/>
                    </div>
                    <div class="">
                      <p class="text-base text-black">
                        <%= @shop.address %>
                      </p>
                    </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="pt-1">
                      <.icon name={:phone} outlined class="
                        text-sky-600
                        flex-shrink-0 h-4 w-4
                      "/>
                    </div>
                    <div class="">
                      <p class="text-base text-black select-all">
                        <%= @shop.telephone %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="basis-full bg-gray-100 h-full overflow-hidden">
            <p class="p-4 text-sky-600 text-xl">
              <%= gettext("Available Catalogues") %>
            </p>

            <div class="
              inline-flex justify-start
              snap-proximity snap-x
              overflow-scroll no-scrollbar
              my-6
              p-3
              space-x-6 w-full mr-6
            ">
              <%= for %Catalogue{id: catalogue_id, name: catalogue_name} <- @shop.catalogues do %>
                <div class="
                  snap-center
                  p-2 rounded-lg text-center shrink-0
                  bg-gray-50
                  pressable
                  overflow-scroll
                  w-40
                ">
                  <.custom_link
                    patch={Routes.checkout_catalogue_path(
                      @socket,
                      :index,
                      @brand_slug,
                      @shop_slug,
                      catalogue_id
                    )}
                  >
                    <div class="flex justify-center">
                      <.icon name={:book_open} outlined class="
                        text-sky-600
                        mr-2 flex-shrink-0 h-16 w-16
                      "/>
                    </div>
                    <div class="flex justify-center">
                      <p class="text-xl text-gray-700 font-medium">
                        <%= catalogue_name %>
                      </p>
                    </div>
                  </.custom_link>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </LiveMotion.motion>
  </div>
</div>
