# App
APP_HOST=0.0.0.0
MIX_ENV=prod
STAGE=local
SECRET_KEY_BASE=$(elixir --eval 'IO.puts(:crypto.strong_rand_bytes(64) |> Base.encode64(padding: false))')
PORT=5555
INTERNAL_PORT=5555

# Email configuration
EX_COMMERCE_FROM_EMAIL="from@email.com"
SENDGRID_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Database
DB_USERNAME=db_username
DB_PASSWORD=db_password
DB_DATABASE=db_name
DB_HOSTNAME=db_hostname

# Cloudex
CLOUDEX_API_KEY="XXXXXXXXXXXXXXX"
CLOUDEX_SECRET="XXXXXXXXXXXXXXXXXXXXXXXXXXX"
CLOUDEX_CLOUD_NAME="xxxxxxxxx"

# Misc
UPLOADS_PATH=/some/upload/path/

# ReCAPTCHA
RECAPTCHA_PUBLIC_KEY=xxx
RECAPTCHA_SECRET=xxx
