#!/usr/bin/env bash

# Set the NodeJS version to be installed.
node_version=16.13.1

# Set the NPM version to be installed.
npm_version=8.1.12

# Comma delimitted list of application assets paths. By default the configuration uses `assets` which works for
# a vanilla Phoenix application where the root of the project is the application root as well.
assets_paths=apps/ex_commerce_web/assets

# Set whether or not to clean out the cache after the deploy.
clear_cache=false
