<li class="font-medium">
  <a
    href={@to}
    class={"
      flex items-center
      transform transition-colors duration-200
      border-r-4 border-transparent
      hover:border-indigo-700
      #{@class}
    "}
  >
    <%= if @icon != nil do %>
      <div class="mr-3">
        <%= @icon %>
      </div>
    <% end %>
    <%= @text %>
  </a>
</li>
