@layer components {
  .link {
    @apply text-2xl text-blue-500 hover:text-blue-300 transition duration-200;
  }

  /* Navbar links */
  .nv-link {
    @apply py-3 px-2 font-normal hover:text-purple-500 transition duration-300;
  }

  .nv-link-active {
    @apply border-b-2 text-purple-500 border-purple-500;
  }

  .m-nv-link {
    @apply block py-3 px-2 text-2xl transition duration-300;
  }

  .m-nv-link-active {
    @apply font-semibold;
  }
}

/* Tab content - closed */
.tab-content {
  max-height: 0;
  transition: max-height .35s;
}

/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

/* Label formatting when open */

/*
.tab input:checked + label {

}
*/

/* Icon */
.tab label span {
  float: right;
  padding-top: 2px;
  transition: all .35s;
}

/* Icon formatting - closed */
.tab input[type=checkbox] + label span {
  font-weight: bold;
}

/* Icon formatting - open */
.tab input[type=checkbox]:checked + label span {
  transform: rotate(90deg);
}