<%= if connected?(@socket) do %>

  <%= render_layout(
        ExCommerceWeb.DashboardView,
        "dashboard",
        [current_page: "home", user_email: @user.email, brand: @brand]
      )
  do %>

    <div><%= gettext("Home") %></div>

  <% end %>

<% end %>
