<div>  
  <div class="px-4">
    <.title_bar title={@title} />
  </div>

  <div class="px-6 py-2">
    <%= form_for @changeset, "#", [
        id: "catalogue_item-form",
        phx_target: @myself,
        phx_change: "validate",
        phx_submit: "save",
        class: "mb-0"
      ], fn f -> %>

      <div class="mb-4">
        <%= label f, :photos, gettext("Item photo"), class: "my-2" %>
        <p class="pb-2 form-field-description">
          <%= gettext("Upload an image for your item.") %>
        </p>
        <div class="flex flex-row">
          <div class="pt-1">
            <.icon name={:information_circle} outlined class="
              text-gray-500
              flex-shrink-0 h-4 w-4
            "/>
          </div>
          <div class="">
            <p class="form-field-hint">
              <%= gettext("File size can be up to 2 MB. Preferably use squared images.") %>
            </p>
          </div>
        </div>

        <div class="divide-y-1 divide-solid my-2">
          <%= for %Phoenix.LiveView.UploadEntry{} = entry <- @uploads.photos.entries do %>
            <%= render_upload_image_preview([
              entry: entry,
              target: @myself,
              cancel_event: "cancel_photo_entry"
            ]) %>
          <% end %>
        </div>

        <div class="mb-2">
          <%= for {_ref, msg} <- @uploads.photos.errors do %>
            <%= error_tag Phoenix.Naming.humanize(msg) %>
          <% end %>
        </div>

        <div class="grid grid-flow-col my-4 py-4">
          <%= for photo <- get_photos(@catalogue_item.photos, [
            use_placeholder: true,
            type: :avatar_with_size
          ]) do %>
            <%= render_image([
              source: get_photo_source(@socket, photo),
              size_classes: "h-64 w-64"
            ]) %>
          <% end %>
        </div>

        <%= render_file_input([
            text: gettext("Choose an item picture"),
            uploads: @uploads.photos
          ])
        %>
      </div>

      <%= label f, :code, gettext("Code"), class: "my-2" %>
      <%= text_input f, :code, class: "input light-bg", placeholder: gettext("An internal code: BEER-000 / CONSULTING-000") %>
      <%= error_tag f, :code %>

      <%= label f, :name, gettext("Name"), class: "my-2" %>
      <%= text_input f, :name, class: "input light-bg", placeholder: gettext("Pale Ale") %>
      <%= error_tag f, :name %>

      <%= label f, :description, gettext("Description"), class: "my-2" %>
      <%= text_input f, :description, class: "input light-bg", placeholder: gettext("Characterized by floral, fruity, citrus-like, piney, resinous American hops") %>
      <%= error_tag f, :description %>

      <div class="border-b-1 border-gray-300 my-3">
        <p class="mt-4 mb-2 section-subtitle"><%= gettext("Variants") %> (<%= gettext("Optional") %>)</p>
        <p class="pb-2 form-field-description">
          <%= gettext("Create at least one or more variants to your item. For example: a hamburguer can be offered in different sizes and prices might vary. Variants can be added as an optional to accompany other items.") %>
        </p>
      </div>

      <div class="">
        <div class="flex flex-wrap mx-1 overflow-hidden">
          <div class="px-1 w-2/6">
            <label class="my-2"><%= gettext("Code") %></label>
          </div>
          <div class="px-1 w-2/6">
            <label class="my-2"><%= gettext("Type") %></label>
          </div>
          <div class="px-1 w-1/6">
            <label class="my-2"><%= gettext("Price") %></label>
          </div>
          <div class="px-1 w-1/6 text-center">
            <label class="my-2"><%= gettext("Delete") %></label>
          </div>
        </div>

        <%= inputs_for f, :variants, fn v -> %>
          <div class="flex flex-wrap mx-1 py-2 overflow-hidden">
            <div class="px-1 w-2/6">
              <%= text_input v, :code, class: "input light-bg", placeholder: gettext("An internal code: BEER-000-PINT / CONSULTING-000-WITH-TAX") %>
              <%= error_tag v, :code %>
            </div>

            <div class="px-1 w-2/6">
              <%= text_input v, :type, class: "input light-bg", placeholder: gettext("Product size, weight or kind: 125gr") %>
              <%= error_tag v, :type %>
            </div>

            <div class="px-1 w-1/6">
              <%= number_input v, :price, class: "input light-bg" %>
              <%= error_tag v, :price %>
            </div>

            <div class="px-1 w-1/6 flex self-center justify-center">
              <%= if is_nil(v.data.temp_id) do %>
                <%= checkbox v, :delete, class: "checkbox" %>
              <% else %>
                <%= hidden_input v, :temp_id %>
                <a
                  href="#"
                  phx-click="remove_variant"
                  phx-value-remove={v.data.temp_id}
                  phx-target={@myself}
                >
                  &times
                </a>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="flex justify-start my-6">
          <a
            href="#"
            phx-click="add_variant"
            phx-target={@myself}
            class="button"
            id="catalogue_item-add-variant-input"
          >
            <%= gettext("Add a variant") %>
          </a>
        </div>
      </div>

      <div class="border-b-1 border-gray-300 my-3">
        <p class="mt-4 mb-2 section-subtitle"><%= gettext("Option Groups") %> (<%= gettext("Optional") %>)</p>
        <p class="pb-2 form-field-description">
          <%= gettext("Assign option groups to accompany your item") %>
        </p>
        <div class="flex flex-row py-2">
          <div class="pt-1">
            <.icon name={:information_circle} outlined class="
              text-gray-500
              flex-shrink-0 h-4 w-4
            "/>
          </div>
          <div class="">
            <p class="form-field-hint">
              <%= gettext("These can be mandatory or optional. For example, a hamburguer must be accompanied by a single drink and the buyer must select which one.") %>
            </p>
          </div>
        </div>
      </div>

      <div class="">
        <div>
          <%= label f, "Select option groups", class: "my-2" %>
          <%=
            options = build_catalogue_item_option_group_options(
              @catalogue_item_option_groups
            )
            multiselect_checkboxes f, :option_groups, options,
              selected: get_selected_catalogue_item_option_groups(f),
              class: ""
          %>
          <%= error_tag f, :option_groups %>
        </div>

        <div class="flex justify-start my-6">
          <a
            href="#"
            phx-click="create_option_group"
            phx-target={@myself}
            class="button"
            id="catalogue_item-add-option-group-input"
          >
            <%= gettext("Create an Options group") %>
          </a>
        </div>
      </div>

      <div class="border-b-1 border-gray-300 my-3">
        <p class="mt-4 mb-2 section-subtitle"><%= gettext("Categories") %> (<%= gettext("Optional") %>)</p>
        <p class="pb-2 form-field-description">
          <%= gettext("Assign one or more categories to your item.") %>
        </p>
        <div class="flex flex-row py-2">
          <div class="pt-1">
            <.icon name={:information_circle} outlined class="
              text-gray-500
              flex-shrink-0 h-4 w-4
            "/>
          </div>
          <div class="">
            <p class="form-field-hint">
              <%= gettext("Categories can then be assigned to your catalogues/menus.") %>
            </p>
          </div>
        </div>
      </div>

      <div class="">
        <div>
          <%= label f, gettext("Select categories"), class: "my-2" %>
          <%=
            options = build_catalogue_item_category_options(@catalogue_categories)
            multiselect_checkboxes f, :categories, options,
              selected: get_selected_catalogue_item_categories(f),
              class: ""
          %>
        </div>

        <div class="flex justify-start my-6">
          <a
            href="#"
            phx-click="create_category"
            phx-target={@myself}
            class="button"
            id="catalogue_item-add-category-input"
          >
            <%= gettext("Create a Category") %>
          </a>
        </div>
      </div>

      <div class="submit-button-container">
        <%= submit gettext("Save"), phx_disable_with: "Saving...", class: "button"%>
      </div>
    <% end %>
  </div>
</div>
