<%= if connected?(@socket) do %>
  <%= if @live_action in [:new, :edit] do %>
    <%= live_modal @socket, ExCommerceWeb.CatalogueLive.FormComponent,
      id: @catalogue.id || :new,
      title: @page_title,
      action: @live_action,
      catalogue: @catalogue,
      shops: @brand.shops,
      catalogue_categories: @brand.catalogue_categories,
      return_to: Routes.catalogue_index_path(@socket, :index, @brand.id),
      patch_to: Routes.catalogue_index_path(@socket, :index, @brand.id),
      redirect_to: @redirect_to,
      current_route: Routes.catalogue_index_path(
        @socket,
        @live_action,
        @brand.id,
        if @live_action == :edit do @catalogue.id else [] end
      )
    %>
  <% end %>

  <div class="dashboard-container">
    <h1 class="user-form section-title-lg">
      <%= gettext("My Catalogues") %>
    </h1>

    <p class="pb-2 text-lg form-field-description">
      <%= gettext("Create catalogues/menus to offer your products") %>
    </p>

    <div class="flex flex-row pb-2">
      <div class="pt-1">
        <.icon name={:information_circle} outlined class="
          text-gray-500
          flex-shrink-0 h-4 w-4
        "/>
      </div>
      <div class="">
        <p class="form-field-hint">
          <%= gettext("Use categories to group up products of similar nature. A Catalogue can be published in one or more shops.") %>
        </p>
      </div>
    </div>

    <div id="catalogues">
      <%= for %Catalogue{id: catalogue_id} = catalogue <- @catalogues do %>
        <.list_card id={"catalogue-#{catalogue_id}"}>
          <:info>
            <p class="
              text-base sm:text-lg text-black font-medium
              text-ellipsis overflow-hidden whitespace-nowrap
            ">
              <%= catalogue.name %>
            </p>
            <p class="
              text-base sm:text-base text-black font-normal
              text-ellipsis overflow-hidden whitespace-nowrap
            ">
              <%= catalogue.code %>
            </p>
          </:info>
          <:actions>
            <span class="px-2">
              <%= live_redirect to: Routes.catalogue_show_path(@socket, :show, @brand.id, catalogue_id), class: "shadow-lg transition duration-300 scale-100 active:scale-[0.98] active:shadow-none" do %>
                <.icon outlined={true} name={:eye} class="base-alert-icon text-sky-500 font-normal"/>
              <% end %>
            </span>
            <span class="px-2">
              <%= live_patch to: Routes.catalogue_index_path(@socket, :edit, @brand.id, catalogue_id), id: "update" do %>
                <.icon outlined={true} name={:pencil} class="base-alert-icon text-green-500"/>
              <% end %>
            </span>
            <span class="px-2">
              <%= link to: "#", id: "delete", phx_click: "delete", phx_value_id: catalogue_id, data: [confirm: gettext("Are you sure?")] do %>
                <.icon outlined={true} name={:trash} class="base-alert-icon text-rose-500"/>
              <% end %>
            </span>
          </:actions>
        </.list_card>
      <% end %>
    </div>

    <.floating_button to={Routes.catalogue_index_path(@socket, :new, @brand.id)} />
  </div>
<% end %>
