<div class="l-centered h-screen bg-gray-200">
  <div class="card">
    <h1 class="user-form section-title-lg"><%= gettext("Reset password") %></h1>

    <%= form_for @changeset, Routes.user_reset_password_path(@conn, :update, @token), fn f -> %>
      <%= if @changeset.action do %>
        <div class="alert alert-danger">
          <p><%= gettext("Oops, something went wrong! Please check the errors below.") %></p>
        </div>
      <% end %>

      <%= label f, :password, gettext("New password") %>
      <%= password_input f, :password, required: true, class: "user-form input" %>
      <%= error_tag f, :password %>

      <%= label f, :password_confirmation, gettext("Enter your email"), class: "my-2" %>
      <%= email_input f, :password_confirmation, required: true, placeholder: gettext("Password confirmation"), class: "user-form input" %>
      <%= error_tag f, :password_confirmation %>

      <div class="flex justify-end mt-6">
        <%= submit gettext("Reset password"), class: "button" %>
      </div>
    <% end %>

    <div class="flex content-center justify-center">
      <%= link gettext("Register"), to: Routes.user_registration_path(@conn, :new), class: "link" %> |
      <%= link gettext("Log in"), to: Routes.user_session_path(@conn, :new), class: "link" %>
    </div>
  </div>
</div>
