<%= if connected?(@socket) do %>

  <%= if @live_action in [:new, :edit] do %>
    <%= live_modal @socket, ExCommerceWeb.BrandLive.FormComponent,
      id: @brand.id || :new,
      title: @page_title,
      action: @live_action,
      brand: @brand,
      return_to: Routes.brand_index_path(@socket, :index),
      patch_to: Routes.brand_index_path(@socket, :index),
      user: @user
    %>
  <% end %>

  <div class="dashboard-container">
    <h1 class="user-form section-title-lg">
      <%= gettext("My Brands") %>
    </h1>

    <p class="pb-2 text-lg form-field-description">
      <%= gettext("Create a brand for your business, then start adding shops to them.") %>
    </p>

    <div class="flex flex-row pb-2">
      <div class="pt-1">
        <.icon name={:information_circle} outlined class="
          text-gray-500
          flex-shrink-0 h-4 w-4
        "/>
      </div>
      <div class="">
        <p class="form-field-hint">
          <%= gettext("A brand is the place where you can manage your shops, products, catalogues/menues, options and more.") %>
        </p>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th><%= gettext("Name") %></th>

          <th></th>
        </tr>
      </thead>
      <tbody id="brands">
        <%= for brand <- @brands do %>
          <tr id={"brand-#{brand.id}"}>
            <td><%= brand.name %></td>

            <td>
              <span><%= live_redirect gettext("Manage"), to: Routes.overview_index_path(@socket, :index, brand.id) %></span>
              <span><%= live_redirect gettext("Show"), to: Routes.brand_show_path(@socket, :show, brand.id) %></span>
              <span><%= live_patch gettext("Edit"), to: Routes.brand_index_path(@socket, :edit, brand.id) %></span>
              <!-- <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: brand.id, data: [confirm: "Are you sure?"] %></span> -->
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <span><%= live_patch "+", to: Routes.brand_index_path(@socket, :new), class: "button" %></span>

  </div>

<% end %>
