<%= if connected?(@socket) do %>
  <%= if @live_action in [:new, :edit] do %>
    <%= live_modal @socket, ExCommerceWeb.BrandLive.FormComponent,
      id: @brand.id || :new,
      title: @page_title,
      action: @live_action,
      brand: @brand,
      return_to: Routes.brand_index_path(@socket, :index),
      patch_to: Routes.brand_index_path(@socket, :index),
      user: @user
    %>
  <% end %>

  <div class="dashboard-container">
    <h1 class="user-form section-title-lg">
      <%= gettext("My Brands") %>
    </h1>

    <p class="pb-2 text-lg form-field-description">
      <%= gettext("Create a brand for your business, then start adding shops to them.") %>
    </p>

    <div class="flex flex-row pb-2">
      <div class="pt-1">
        <.icon name={:information_circle} outlined class="
          text-gray-500
          flex-shrink-0 h-4 w-4
        "/>
      </div>
      <div class="">
        <p class="form-field-hint">
          <%= gettext("A brand is the place where you can manage your shops, products, catalogues/menues, options and more.") %>
        </p>
      </div>
    </div>

    <div id="brands">
      <%= for %Brand{name: brand_name, id: brand_id} = brand <- @brands do %>
        <.list_card id={"brand-#{brand_id}"}>
          <:info>
            <p class="
              text-base sm:text-lg text-black font-medium
              text-ellipsis overflow-hidden whitespace-nowrap
            ">
              <%= brand_name %>
            </p>
          </:info>
          <:actions>
            <span class="px-2">
              <%= live_redirect to: Routes.overview_index_path(@socket, :index, brand.id), class: "shadow-lg transition duration-300 scale-100 active:scale-[0.98] active:shadow-none" do %>
                <.icon outlined={true} name={:cog} class="base-alert-icon text-orange-500 font-normal"/>
              <% end %>
            </span>
            <span class="px-2">
              <%= live_redirect to: Routes.brand_show_path(@socket, :show, brand.id), class: "shadow-lg transition duration-300 scale-100 active:scale-[0.98] active:shadow-none" do %>
                <.icon outlined={true} name={:eye} class="base-alert-icon text-sky-500 font-normal"/>
              <% end %>
            </span>
            <span class="px-2">
              <%= live_patch to: Routes.brand_index_path(@socket, :edit, brand.id), id: "update" do %>
                <.icon outlined={true} name={:pencil} class="base-alert-icon text-green-500"/>
              <% end %>
            </span>
          </:actions>
        </.list_card>
      <% end %>
    </div>

    <.floating_button to={Routes.brand_index_path(@socket, :new)} />
  </div>
<% end %>
