<%= if connected?(@socket) do %>

  <%= if @live_action in [:edit] do %>
    <%= live_modal @socket, ExCommerceWeb.BrandLive.FormComponent,
      id: @brand.id,
      title: @page_title,
      action: @live_action,
      brand: @brand,
      return_to: Routes.brand_show_path(@socket, :show, @brand),
      patch_to: Routes.brand_show_path(@socket, :show, @brand)
    %>
  <% end %>

  <LiveMotion.motion
    id="show-brand"
    initial={[y: [-1000]]}
    animate={[y: [0]]}
    transition={[]}
    exit={[y: [-1000]]}
    class="flex justify-center"
  >
    <div class="dashboard-container m-4 card flex flex-col justify-between w-full">
      <h1 class="user-form section-title-lg py-1">
        <%= @brand.name %>
      </h1>

      <div>
        <p class="
          text-base sm:text-lg text-black font-normal
          text-ellipsis overflow-hidden whitespace-nowrap
        ">
          <span class="font-semibold">Slug:</span> <%= @brand.slug %>
        </p>
      </div>
      <div class="flex flex-row items-center justify-between">
        <span>
          <%= live_redirect gettext("Back"), to: Routes.brand_index_path(@socket, :index) %>
        </span>
        <span>
          <%= live_patch gettext("Edit"), to: Routes.brand_show_path(@socket, :edit, @brand), class: "button" %>
        </span>
      </div>
    </div>
  </LiveMotion.motion>
<% end %>
