<div class="l-centered h-screen bg-gray-200 flex flex-col">

  <h1 class="user-form section-title my-20">
    <%= gettext("Settings") %>
  </h1>

  <div class="l-centered h-screen bg-gray-200">
    <div class="card mx-4">
      <h1 class="user-form section-title-lg">
        <%= gettext("Change email") %>
      </h1>

      <%= form_for @email_changeset, Routes.user_settings_path(@conn, :update), fn f -> %>
        <%= if @email_changeset.action do %>
          <div class="alert alert-danger">
            <p><%= gettext("Oops, something went wrong! Please check the errors below.") %></p>
          </div>
        <% end %>

        <%= hidden_input f, :action, name: "action", value: "update_email" %>

        <%= label f, :email, gettext("Email"), class: "my-2" %>
        <%= email_input f, :email, required: true, placeholder: gettext("Enter a new email"), class: "user-form input" %>
        <%= error_tag f, :email %>

        <%= label f, :current_password, gettext("Current password"), for: "current_password_for_email", class: "my-2" %>
        <%= password_input f, :current_password, required: true, placeholder: gettext("Enter your password"), class: "user-form input", name: "current_password", id: "current_password_for_email" %>
        <%= error_tag f, :current_password %>

        <div class="flex justify-center mt-6">
          <%= submit gettext("Change email"), class: "button" %>
        </div>
      <% end %>
    </div>

    <div class="card mx-4">
      <h1 class="user-form section-title-lg">
        <%= gettext("Change password") %>
      </h1>

      <%= form_for @password_changeset, Routes.user_settings_path(@conn, :update), fn f -> %>
        <%= if @password_changeset.action do %>
          <div class="alert alert-danger">
            <p><%= gettext("Oops, something went wrong! Please check the errors below.") %></p>
          </div>
        <% end %>

        <%= hidden_input f, :action, name: "action", value: "update_password" %>

        <%= label f, :password, gettext("New password"), class: "my-2" %>
        <%= password_input f, :password, required: true, placeholder: gettext("Enter a new password"), class: "user-form input" %>
        <%= error_tag f, :password %>

        <%= label f, :password_confirmation, gettext("Confirm new password"), class: "my-2" %>
        <%= password_input f, :password_confirmation, required: true, placeholder: gettext("Confirm the password"), class: "user-form input" %>
        <%= error_tag f, :password_confirmation %>

        <%= label f, :current_password, gettext("Current password"), class: "my-2", for: "current_password_for_password" %>
        <%= password_input f, :current_password,
          required: true, placeholder: gettext("Enter your current password"),
          class: "user-form input",
          name: "current_password",
          id: "current_password_for_password"
        %>
        <%= error_tag f, :current_password %>

        <div class="flex justify-center mt-6">
          <%= submit gettext("Change password"), class: "button" %>
        </div>
      <% end %>
    </div>
  </div>


  <ul class="flex flex-row">
    <%= if @current_user do %>
      <li class="px-2"><%= @current_user.email %></li>
      <li class="px-2"><%= link gettext("Admin"), to: Routes.brand_index_path(@conn, :index), class: "user-form link" %></li>
      <li class="px-2"><%= link gettext("Log out"), to: Routes.user_session_path(@conn, :delete), method: :delete, class: "user-form link" %></li>
    <% else %>
      <li class="px-2"><%= link gettext("Register"), to: Routes.user_registration_path(@conn, :new), class: "user-form link" %></li>
      <li class="px-2"><%= link gettext("Log in"), to: Routes.user_session_path(@conn, :new), class: "user-form link" %></li>
    <% end %>
  </ul>
</div>
