<div>
  <%= render ExCommerceWeb.HeaderView, "header.html" %>

  <div class="absolute inset-x-8 inset-y-10 md:inset-0 lg:inset-y-1/4 md:inset-x-1/4">

    <h1 class="user-form section-title my-20">
      <%= gettext "Thanks for registering your business" %>
    </h1>

    <p class="my-8">
      <%= gettext "We've just sent you a confirmation email" %>
    </p>

    <p class="my-8">
      <%= gettext "Please check your inbox and/or spam folders" %>
    </p>

    <p class="my-8">
      <%= gettext "There you'll find a confirmation link to get started!" %>
    </p>

    <p>
      <span class="text-2xl">
        <%= gettext "Didn't receive the email?" %>
      </span>
      <%= link gettext("Resend notification"), to: Routes.user_confirmation_path(@conn, :new), class: "link" %>
    </p>
  </div>

</div>
