@layer components {
  .input {
    @apply rounded-lg border-gray-300 transition duration-200 focus:border-blue-300 h-auto #{!important};
  }

  .disabled-input {
    @apply rounded-lg border-gray-300 bg-gray-200 h-auto #{!important};
  }
}

input.checkbox[type=checkbox], input.radio[type=radio] {
  border: 1px solid gray;
  color: black;
  --tw-ring-offset-width: 2px;
  --tw-ring-color: black;
}
