@layer components {
  .input {
    @apply rounded-lg border-gray-300 transition duration-200 focus:border-blue-300 h-auto #{!important};
  }

  .disabled-input {
    @apply rounded-lg border-gray-300 bg-gray-200 h-auto #{!important};
  }
}

input[type="radio"] + label span {
  background-color: #d1d5db;
  box-shadow: 0px 0px 0px 5px #d1d5db inset;
  transition: background .2s,
    transform .2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span {
  transform: scale(1.2);
} 

input[type="radio"]:checked + label span {
  background-color: rgb(2 132 199 / var(--tw-text-opacity));
  box-shadow: 0px 0px 0px 2px #d1d5db inset;
}

input[type="radio"]:checked + label {
  color: rgb(2 132 199 / var(--tw-text-opacity));
}
