@layer components {
  .dashboard-container {
    @apply p-4 mb-28;
  }

  .l-centered {
    @apply flex justify-center items-center flex-col;
  }

  .container-sm {
    @apply self-center max-w-full lg:max-w-5xl w-full;
  }

  .container-base {
    @apply self-center max-w-full sm:max-w-7xl;
  }
  .container-base.full {
    @apply w-full;
  }

  .container-lg {
    @apply self-center max-w-6xl w-full;
  }

  /* .container{
    @apply margin
    margin: 0 auto;
    max-width: 80.0rem;
    padding: 0 0;
    position: relative;
    width: 100%
  } */
}
