<%= link gettext("Admin Dashboard"),
  to: Routes.overview_index_path(ExCommerceWeb.Endpoint, :index),
  class: "
    py-3 px-2 sm:px-4 rounded-full
    uppercase text-sm sm:text-xl font-medium text-white
    bg-purple-500 hover:bg-purple-400
    shadow-button
    transition duration-200
  "
%>
