<%= link gettext("Log in"),
  to: Routes.user_session_path(ExCommerceWeb.Endpoint, :new),
  class: "
    py-3 px-4 rounded-full
    uppercase text-lg font-medium text-gray-700 hover:text-white
    hover:bg-purple-400
    transition duration-200
  "
%>
