<%= link gettext("Log out"),
  to: Routes.user_session_path(ExCommerceWeb.Endpoint, :delete), method: :delete,
  class: "
    py-3 px-4
    uppercase text-lg font-medium text-gray-700 hover:text-white
    hover:text-purple-300
    transition duration-200
    #{assigns.classes}
  "
%>
