<%= link gettext("Start for free"),
  to: Routes.user_registration_path(ExCommerceWeb.Endpoint, :new),
  class: "
    py-3 px-2 sm:px-4 rounded-full
    uppercase text-lg font-medium text-white
    bg-purple-500 hover:bg-purple-400
    shadow-button
    transition duration-200
  "
%>
