<%= link to: Routes.user_registration_path(ExCommerceWeb.Endpoint, :new),
  class: "
    flex p-2 sm:px-4 rounded-full
    uppercase text-base font-medium text-white
    bg-sky-500 hover:bg-sky-400 focus:bg-sky-500 active:bg-sky-500
    pressable with-outline-sm gray
  "
do %>
  <div class="inline-flex items-center">
    <span class={"px-1 #{@size}"}>
      <%= @text %>
    </span>
  </div>
<% end %>
