<%= if connected?(@socket) do %>

  <%= if @live_action in [:edit] do %>
    <%= live_modal @socket, ExCommerceWeb.CatalogueCategoryLive.FormComponent,
      id: @catalogue_category.id,
      title: @page_title,
      action: @live_action,
      catalogue_category: @catalogue_category,
      catalogue_items: @brand.catalogue_items,
      catalogues: @brand.catalogues,
      return_to: Routes.catalogue_category_show_path(
        @socket,
        :show,
        @brand.id,
        @catalogue_category.id
      ),
      patch_to: Routes.catalogue_category_show_path(
        @socket,
        :show,
        @brand.id,
        @catalogue_category.id
      ),
      redirect_to: @redirect_to,
      current_route: Routes.catalogue_category_show_path(
        @socket,
        @live_action,
        @brand.id,
        if @live_action == :edit do @catalogue_category.id else [] end
      )
    %>
  <% end %>

  <LiveMotion.motion
    id="show-category"
    initial={[y: [-1000]]}
    animate={[y: [0]]}
    transition={[]}
    exit={[y: [-1000]]}
    class="flex justify-center"
  >
    <div class="dashboard-container m-4 card flex flex-col justify-between w-full">
      <h1 class="user-form section-title-lg py-1">
        <%= @catalogue_category.name %>
      </h1>

      <div>
        <p class="
          text-base sm:text-lg text-black font-normal
          text-ellipsis overflow-hidden whitespace-nowrap
        ">
          <span class="font-semibold"><%= gettext("Code") %>:</span> <%= @catalogue_category.code %>
        </p>
      </div>
      <div>
        <p class="
          text-base sm:text-lg text-black font-normal
          text-ellipsis overflow-hidden whitespace-nowrap
        ">
          <span class="font-semibold"><%= gettext("Description") %>:</span> <%= @catalogue_category.description %>
        </p>
      </div>

      <div class="flex flex-row items-center justify-between">
        <span>
          <%= live_redirect gettext("Back"), to: Routes.catalogue_category_index_path(@socket, :index, @brand.id), class: "link" %>
        </span>
        <span>
          <%= live_patch gettext("Edit"), to: Routes.catalogue_category_show_path(@socket, :edit, @brand.id, @catalogue_category.id), class: "button" %>
        </span>
      </div>
    </div>
  </LiveMotion.motion>
<% end %>
