<div class="l-centered h-screen bg-gray-200">
  <div class="card light">
    <h1 class="user-form section-title-lg my-20"><%= gettext("Resend confirmation instructions") %></h1>

    <%= form_for :user, Routes.user_confirmation_path(@conn, :create), fn f -> %>
      <%= label f, :email, gettext("Enter your email"), class: "my-2" %>
      <%= email_input f, :email, required: true, placeholder: gettext("Email"), class: "user-form input" %>

      <div class="flex justify-end my-6">
        <%= submit gettext("Send"), class: "button" %>
      </div>
    <% end %>

    <div class="flex content-center justify-evenly">
      <%= link gettext("Register"), to: Routes.user_registration_path(@conn, :new), class: "user-form link" %>
      <%= link gettext("Log in"), to: Routes.user_session_path(@conn, :new), class: "user-form link" %>
    </div>
  </div>
</div>
