<%= if connected?(@socket) do %>

  <%= if @live_action in [:new, :edit] do %>
    <%= live_modal @socket, ExCommerceWeb.ShopLive.FormComponent,
      id: @shop.id || :new,
      title: @page_title,
      action: @live_action,
      brand: @brand,
      shop: @shop,
      return_to: Routes.shop_index_url(@socket, :index, @brand.id),
      patch_to: Routes.shop_index_path(@socket, :index, @brand.id)
    %>
  <% end %>

  <div class="dashboard-container">
    <h1 class="user-form section-title-lg">
      <%= gettext("My Shops") %>
    </h1>

    <div id="shops">
      <%= for %Shop{id: shop_id} = shop <- @shops do %>
        <div
          id={"shop-#{shop_id}"}
          class="
            card cursor-pointer
            flex flex-col sm:flex-row md:sm:flex-row lg:sm:flex-row
            justify-between m-4
            transition duration-300 scale-100 active:scale-[0.98] hover:bg-gray-300 active:shadow-none
          "
          phx-click="navigate_shop"
          phx-value-shop={shop_id}
        >
          <div class="flex flex-col">
            <p class="
              text-base sm:text-lg text-black font-medium
              text-ellipsis overflow-hidden whitespace-nowrap
            ">
              <%= shop.name %>
            </p>
            <p class="
              text-base sm:text-base text-black font-normal
              text-ellipsis overflow-hidden whitespace-nowrap
            ">
              <%= shop.address %>
            </p>
          </div>
          <div class="flex flex-row">
            <span class="px-1"><%= live_patch gettext("Edit"), to: Routes.shop_index_path(@socket, :edit, @brand.id, shop_id) %></span>
            <span class="px-1"><%= link gettext("Delete"), to: "#", phx_click: "delete", phx_value_id: shop_id, data: [confirm: gettext("Are you sure?")] %></span>
          </div>
        </div>
      <% end %>
    </div>

    <span>
      <%= live_patch "+", to: Routes.shop_index_path(@socket, :new, @brand.id), class: "button" %>
    </span>
  </div>

<% end %>
