<%= if connected?(@socket) do %>
  <%= if @live_action in [:new, :edit] do %>
    <%= live_modal @socket, ExCommerceWeb.ShopLive.FormComponent,
      id: @shop.id || :new,
      title: @page_title,
      action: @live_action,
      brand: @brand,
      shop: @shop,
      return_to: Routes.shop_index_url(@socket, :index, @brand.id),
      patch_to: Routes.shop_index_path(@socket, :index, @brand.id)
    %>
  <% end %>

  <div class="dashboard-container">
    <h1 class="user-form section-title-lg">
      <%= gettext("My Shops") %>
    </h1>

    <p class="pb-2 text-lg form-field-description">
      <%= gettext("Create shops to let customers know your address, phone and other details.") %>
    </p>

    <div class="flex flex-row pb-2">
      <div class="pt-1">
        <.icon name={:information_circle} outlined class="
          text-gray-500
          flex-shrink-0 h-4 w-4
        "/>
      </div>
      <div class="">
        <p class="form-field-hint">
          <%= gettext("A shop allows you to create catalogues/menus and even share them between shops.") %>
        </p>
      </div>
    </div>

    <div id="shops">
      <%= for %Shop{id: shop_id} = shop <- @shops do %>
        <.list_card id={"shop-#{shop_id}"}>
          <:info>
            <p class="
              text-base sm:text-lg text-black font-medium
              text-ellipsis overflow-hidden whitespace-nowrap
            ">
              <%= shop.name %>
            </p>
            <p class="
              text-base sm:text-base text-black font-normal
              text-ellipsis overflow-hidden whitespace-nowrap
            ">
              <%= shop.address %>
            </p>
          </:info>
          <:actions>
            <span class="px-2">
              <%= live_redirect to: Routes.shop_show_path(@socket, :show, @brand.id, shop_id), class: "shadow-lg transition duration-300 scale-100 active:scale-[0.98] active:shadow-none" do %>
                <.icon outlined={true} name={:eye} class="base-alert-icon pressable action text-sky-500"/>
              <% end %>
            </span>
            <span class="px-2">
              <%= live_patch to: Routes.shop_index_path(@socket, :edit, @brand.id, shop_id), id: "update" do %>
                <.icon outlined={true} name={:pencil} class="base-alert-icon pressable action text-green-500"/>
              <% end %>
            </span>
            <span class="px-2">
              <%= link to: "#", id: "delete", phx_click: "delete", phx_value_id: shop_id, data: [confirm: gettext("Are you sure?")] do %>
                <.icon outlined={true} name={:trash} class="base-alert-icon pressable action text-rose-500"/>
              <% end %>
            </span>
          </:actions>
        </.list_card>
      <% end %>
    </div>

    <.floating_button to={Routes.shop_index_path(@socket, :new, @brand.id)} />
  </div>
<% end %>
