<%= if connected?(@socket) do %>

  <%= if @live_action in [:edit] do %>
    <%= live_modal @socket, ExCommerceWeb.ShopLive.FormComponent,
      id: @shop.id,
      title: @page_title,
      action: @live_action,
      brand: @brand,
      shop: @shop,
      return_to: Routes.shop_show_path(@socket, :show, @brand.id, @shop.id),
      patch_to: Routes.shop_show_path(@socket, :show, @brand.id, @shop.id)
    %>
  <% end %>

  <LiveMotion.motion
    id="show-shop"
    initial={[y: [-1000]]}
    animate={[y: [0]]}
    transition={[]}
    exit={[y: [-1000]]}
    class="flex justify-center sm:absolute sm:inset-1/4"
  >

    <div class="dashboard-container m-4 card flex flex-col justify-between">
      <h1 class="user-form section-title-lg">
        <%= @shop.name %>
      </h1>

      <div>
        <p class="
          text-base sm:text-lg text-black font-normal
          text-ellipsis overflow-hidden whitespace-nowrap
        ">
          <span class="font-semibold">Slug:</span> <%= @shop.slug %>
        </p>
        <p class="
          text-base sm:text-lg text-black font-normal
        ">
          <span class="font-semibold">Description:</span> <%= @shop.description %>
        </p>
        <p class="
          text-base sm:text-lg text-black font-normal
        ">
          <span class="font-semibold">Telephone:</span> <%= @shop.telephone %>
        </p>
        <p class="
          text-base sm:text-lg text-black font-normal
        ">
          <span class="font-semibold">Banner message:</span> <%= @shop.banner_message %>
        </p>
        <p class="
          text-base sm:text-lg text-black font-normal
        ">
          <span class="font-semibold">Address:</span> <%= @shop.address %>
        </p>
      </div>

      <div class="">
        <span>
          <%= live_redirect gettext("Back"), to: Routes.shop_index_path(@socket, :index, @brand.id), class: "link" %>
        </span>
        <span>
          <%= live_patch gettext("Edit"), to: Routes.shop_show_path(@socket, :edit, @brand.id, @shop.id), class: "button" %>
        </span>
      </div>
    </div>

  </LiveMotion.motion>
<% end %>
