<div class="
  opacity-0 bg-black text-white text-center text-lg
  py-2 px-3 rounded-lg
  absolute bottom-full z-50 w-full
  transition duration-500 group-hover:opacity-100
  pointer-events-none
  <%= @extra_classes %>
">
  <%= @text %>
  <svg
    class="absolute text-black h-2 w-full left-0 top-full"
    x="0px"
    y="0px"
    viewBox="0 0 255 255"
    xml:space="preserve"
  >
    <polygon class="fill-current" points="0,0 127.5,127.5 255,0"/>
  </svg>
</div>
