<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "catalogue-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :name, class: "my-2" %>
  <%= text_input f, :name, class: "input", placeholder: gettext("Saloon Menu / Delivery Menu / Take away Menu, ...") %>
  <%= error_tag f, :name %>

  <div class="flex justify-end mt-6">
    <%= submit gettext("Save"), phx_disable_with: gettext("Saving..."), class: "button"%>
  </div>
</form>
